{% extends 'base.html.twig' %}

{% import "hike/utils.html.twig" as hike_utils %}

{% block content %}
    <article class="hike-show">
        <header>
            <div class="container-fluid">
                <div class="row align-items-center">
                    <div class="col-md-4 offset-md-1">
                        {% if hike.categories is not empty %}
                            <div class="category">
                                {# Only display first category #}
                                {{ hike.categories|first }}
                            </div>
                        {% endif %}

                        <time class="publication-date" datetime="{{ hike.publicationDate|date('Y-m-d') }}">
                            {{ hike.publicationDate|date('d/m/Y') }}
                        </time>

                        <h1>{{ hike.title }}</h1>

                        <div class="summary">
                            {{ hike.summary }}
                        </div>

                        <div class="access">
                            <div class="transport">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="point starting-point">
                                            <span class="icon"><i class="fa fa-map-marker" aria-hidden="true"></i></span>
                                            {{ hike_utils.display_transport_icon(hike.startingPoint.line) }}
                                            <span class="station">{{ hike.startingPoint.station }}</span>
                                        </div>
                                    </div>

                                    {% if hike.endingPoint is not empty %}
                                        <div class="col-md-6">
                                            <div class="point ending-point">
                                                <span class="icon"><i class="fa fa-map-marker" aria-hidden="true"></i></span>
                                                {{ hike_utils.display_transport_icon(hike.endingPoint.line) }}
                                                <span class="station">{{ hike.endingPoint.station }}</span>
                                            </div>
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                        </div>

                        <div class="distance">
                            <img src="{{ asset('images/hike-icon.svg') }}" alt="Distance de marche" class="hike-icon"> {{ hike.distance}}km

                            <span class="hike-type">
                                {% if hike.endingPoint is not empty %}
                                    (gare à gare).
                                {% else %}
                                    (boucle).
                                {% endif %}
                            </span>
                        </div>

                        <div class="gpx-download">
                            <a href="{{ hike_utils.gpx_file_path(hike) }}" class="btn btn-info">
                                <i class="fa fa-download" aria-hidden="true"></i>
                                Télécharger la trace GPS
                            </a>
                        </div>
                    </div>

                    <div class="col-md-6 offset-md-1">
                        <div class="main-picture" style="background-image: url('{{ hike_utils.main_picture_url(hike) }}')"></div>
                    </div>
                </div>
            </div>
        </header>

        <div class="details">
            <div class="container-fluid">
                <div class="row align-items-center">
                    <div class="col-md-6 offset-md-1">
                        <div class="description">{{ hike.description|markdown }}</div>
                    </div>

                    <div class="col-md-5">
                        <div id="hike-map" class="map"></div>
                    </div>
                </div>
            </div>
        </div>
    </article>

    <div class="container">
        <div style="text-align: center">
            <h2>Ce que vous pourrez voir</h2>
        </div>

        {{ include('hike/show/gallery.html.twig', {hike: hike}) }}
    </div>
{% endblock %}

{% block scripts %}
    <script>
    HikeShow.init('{{ hike_utils.gpx_file_path(hike) }}');
    </script>
{% endblock %}
