{% extends 'base.html.twig' %}

{% import "hike/utils.html.twig" as hike_utils %}

{% block content %}
    <article class="hike-show">
        <header>
            <div class="container-fluid">
                <div class="row align-items-center">
                    <div class="col-md-5 col-lg-4 offset-lg-1">
                        {% if hike.categories is not empty %}
                            <div class="category">
                                {# Only display first category #}
                                {{ hike.categories|first }}
                            </div>
                        {% endif %}

                        <time class="publication-date" datetime="{{ hike.publicationDate|date('Y-m-d') }}">
                            {{ hike.publicationDate|date('d/m/Y') }}
                        </time>

                        <h1>{{ hike.title }}</h1>

                        <div class="summary">
                            {{ hike.summary }}
                        </div>

                        <div class="access">
                            <div class="transport">
                                <div class="row">
                                    <div class="{{ hike.endingPoint is not empty ? 'col-xl-6' : 'col-xl-12' }}">
                                        <div class="point starting-point">
                                            <span class="icon"><i class="fa fa-map-marker" aria-hidden="true"></i></span>
                                            {{ hike_utils.display_transport_icon(hike.startingPoint.line) }}
                                            <span class="station">{{ hike.startingPoint.station }}</span>
                                        </div>
                                    </div>

                                    {% if hike.endingPoint is not empty %}
                                        <div class="col-xl-6">
                                            <div class="point ending-point">
                                                <span class="icon"><i class="fa fa-map-marker" aria-hidden="true"></i></span>
                                                {{ hike_utils.display_transport_icon(hike.endingPoint.line) }}
                                                <span class="station">{{ hike.endingPoint.station }}</span>
                                            </div>
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                        </div>

                        <div class="distance">
                            <img src="{{ asset('images/hike-icon.svg') }}" alt="Distance de marche" class="hike-icon"> {{ hike.distance}}km

                            <span class="hike-type">
                                {% if hike.endingPoint is not empty %}
                                    (gare à gare).
                                {% else %}
                                    (boucle).
                                {% endif %}
                            </span>
                        </div>

                        <div class="gpx-download">
                            <a href="{{ path('hike_download_gpx_file', {slug: hike.slug}) }}" class="btn btn-info">
                                <i class="fa fa-download" aria-hidden="true"></i>
                                Télécharger la trace GPS
                            </a>
                        </div>
                    </div>

                    <div class="col-md-7 col-lg-6 offset-lg-1">
                        <div class="main-picture" style="background-image: url('{{ hike_utils.main_picture_url(hike) }}')"></div>
                    </div>
                </div>
            </div>
        </header>

        <div class="details">
            <div class="container-fluid">
                <div class="row align-items-center">
                    <div class="col-md-6 col-lg-6 offset-lg-1">
                        <div class="description">{{ hike.description|markdown }}</div>
                    </div>

                    <div class="col-md-6 col-lg-5">
                        <div id="hike-map" class="map"></div>
                    </div>
                </div>
            </div>
        </div>

        <section class="gallery">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-9 offset-lg-1"><h2>Photos en chemin</h2></div>
                </div>

                <div class="row">
                    <div class="col-lg-9 offset-lg-1">{{ include('hike/show/gallery.html.twig', {hike: hike}) }}</div>
                </div>
            </div>
        </section>
    </article>
{% endblock %}

{% block scripts %}
    <script>
    HikeShow.init('{{ path('hike_gpx_file', {slug: hike.slug}) }}');
    </script>
{% endblock %}
