{% macro display_point(point) %}
    {{ _self.display_transport_icon(point.line) }}
    <span class="station">{{ point.station }}</span>
{% endmacro %}

{% macro display_transport_icon(line) %}
    <div class="line">
        {% if line in ['A', 'B', 'C', 'D', 'E'] %}
            <img src="{{ asset('images/transport/RER.svg') }}" alt="Transilien">
        {% elseif line in ['H', 'J', 'K', 'L', 'N', 'P', 'R', 'U'] %}
            <img src="{{ asset('images/transport/Transilien.svg') }}" alt="Transilien">
        {% endif %}

        <img src="{{ asset('images/transport/%s.svg'|format(line)) }}" alt="Ligne {{ line }}">
    </div>
{% endmacro %}

{%- macro main_picture_url(hike, absolute_path) -%}
    {{ _self.picture_url(hike, hike.mainPicture, absolute_path) }}
{%- endmacro -%}

{%- macro picture_url(hike, picture, absolute_path = false) -%}
    {% spaceless %}
        {%
            set picturePath = 'uploads/hike/%d/%02d/%s/pictures/%s'|format(
                hike.publicationDate|date('Y'),
                hike.publicationDate|date('m'),
                hike.slug,
                picture
            )
        %}

        {{ absolute_path ? absolute_url(asset(picturePath)) : asset(picturePath) }}
    {% endspaceless %}
{%- endmacro -%}

{%- macro hike_url(hike) -%}
    {{ path('hike_show', {'date': hike.publicationDate|date('Y/m/d'), 'slug': hike.slug}) }}
{%- endmacro -%}
