{% import "hike/utils.html.twig" as hike_utils %}

<article class="hike-card {{ hike.favorite ? 'favorite'}}">
    {% if hike.favorite %}
        <div class="fav"><span><i class="fa fa-heart" aria-hidden="true"></i></span></div>
    {% endif %}

    <div class="main-picture" style="background-image: url('{{ hike_utils.main_picture_url(hike)|imagine_filter('hike_thumbnail') }}')">
    </div>

    <div class="details">
        {% if hike.categories is not empty %}
            <div class="category">
                {# Only display first category #}
                {{ hike.categories|first }}
            </div>
        {% endif %}

        <div class="access">
            <div class="transport">
                <div class="starting-point">
                    {{ hike_utils.display_transport_icon(hike.startingPoint.line) }}
                    <span class="station">{{ hike.startingPoint.station }}</span>
                </div>
            </div>

            <div class="distance">
                <img src="{{ asset('images/hike-icon.svg') }}" alt="Distance de marche" class="hike-icon">
                {{ hike.distance}}km
            </div>
        </div>
    </div>

    <div class="content">
        <h2>
            <a href="{{ hike_utils.hike_url(hike) }}">
                {{ hike.title }}
            </a>
        </h2>

        <div class="summary">
            {{ hike.summary }}
        </div>
    </div>
</article>
