{% import "hike/utils.html.twig" as hike_utils %}

<article class="hike-card">

    <div class="main-picture" style="background-image: url('{{ hike_utils.main_picture_url(hike) }}')">
        <h2>
            <a href="{{ path('hike_show', {'date': hike.publicationDate|date('Y/m/d'), 'slug': hike.slug}) }}">
                {{ hike.title }}
            </a>
        </h2>
    </div>

    <div class="details">
        <div class="transport">
            <div class="starting-point">
                {{ hike_utils.display_transport_icon(hike.startingPoint.line) }}
                <span class="station">{{ hike.startingPoint.station }}</span>
            </div>
        </div>

        <div class="distance">
            <img src="{{ asset('images/hike-icon.svg') }}" alt="Distance de marche" class="hike-icon">
            {{ hike.distance}}km
        </div>
    </div>

    <div class="content">
        <div class="summary">
            {{ hike.summary }}
        </div>
    </div>
</article>
