<article class="post">
    <time class="publication-date" datetime="{{ post.publicationDate|date('Y-m-d') }}">
        {{ post.publicationDate|date('d/m/Y') }}
    </time>

    <h2>{{ post.title }}</h2>

    {% if post.categories is not empty %}
        <div class="category">
            {# Only display first category #}
            {{ post.categories|first }}
        </div>
    {% endif %}

    <img src="{{ asset('images/hike/%s/%s'|format(post.slug, post.mainPicture)) }}" alt="">

    <div class="summary">
        {{ post.summary }}
    </div>
</article>
