---
import { Image } from "astro:assets";
import { type CollectionEntry } from 'astro:content';
import { getHikeImage, getHikeImagePath } from "../../lib/getHikeImage";
import TransportPoint from "../transport/TransportPoint.astro";

const { hike } = Astro.props;

const getHikeImageUrl = (hike: CollectionEntry<'hike'>) => {
  return getHikeImage(getHikeImagePath(hike.data.pubDate, hike.data.slug, hike.data.main_picture));
}

const imageUrl = getHikeImageUrl(hike);

const getHikeUrl = (hike: CollectionEntry<'hike'>) => `/hike/${hike.data.slug}/`;

const hikeData = hike.data;
---

<article class="flex flex-col mb-4 bg-white shadow-card">
  <a
    href={getHikeUrl(hike)}
    class="h-64 md:h-48 xl:h-64 flex-none relative"
  >
    <div class="relative h-full">
      {hikeData.favorite && (
        <div class="absolute top-0 right-0 z-10">
          <Image
            src="/images/favorite.svg"
            alt="Randonnée favorite"
            width={48}
            height={48}
          />
        </div>
      )}


      {imageUrl && (
        <Image width={720} height={600} src={imageUrl} alt="" class="w-full h-full object-cover" />
      )}
    </div>
  </a>

  <div class="flex flex-col flex-1 mx-4 mt-4">
    <div>
      <div class="mt-2 mb-4">
        {hikeData.categories && hikeData.categories.length >= 0 && (
          <div
            class="uppercase text-xs text-gray-500 text-center leading-none mb-1"
            style={{ color: "#4e6c85" }}
          >
            {/* Only display first category */}
            {hikeData.categories[0]}
          </div>
        )}

        <h2 class="font-sans-serif text-lg font-semibold text-center mx-8 leading-snug">
          <a href={getHikeUrl(hike)}>{hikeData.title}</a>
        </h2>
      </div>

      <div
        class="text-justify text-zinc-600 mt-2 mb-4 font-serif"
        style={{ fontSize: "15px", hyphens: "auto" }}
      >
        {hikeData.description}
      </div>
    </div>

    <div class="flex items-center mt-auto mb-3 pt-3 border-t border-gray-200">
      <div class="flex-grow-1 text-sm items-center font-sans-serif">
        <TransportPoint
          line={hikeData.starting_point.line}
          station={hikeData.starting_point.station}
          iconSize={20}
        />
      </div>

      <div class="shrink-0 flex ml-auto font-sans-serif text-sm font-medium gap-1">
        <div>
          <Image src="/images/hike-icon.svg" alt="Distance de marche" width={14} height={14} />
        </div>
        <div>
          {hikeData.distance}
          km
        </div>
      </div>
    </div>
  </div>
</article>
