---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import List from "../components/Hike/List.astro";
import TransportIcon from "../components/transport/TransportIcon.astro";
import TopBanner from "../components/TopBanner.astro";
import LineLinks from "../components/TransportLine/LineLinks.astro";

const { title, description, hikes, borderColor, bgColor, line, banner } =
  Astro.props;
---

<html lang="fr">
  <head>
    <BaseHead title={title} description={description} />
    <title>{`${title} – RandoNavigo`}</title>
    <meta name="description" content={description} />
    <meta property="og:locale" content="fr_FR" />
    <meta property="og:type" content="article" />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:site_name" content="RandoNavigo" />
    <meta property="og:locale" content="fr_FR" />
    <!-- <meta property="og:image" content={heroImage} />
		<meta property="article:section" content={categories[0]} />
		<meta property="article:published_time" content={pubDate} />
		<meta property="article:modified_time" content={pubDate} /> -->
  </head>

  <body>
    <Header />
    <main>
      <article>
        <TopBanner picture={banner} />

        <div class="container mx-auto">
          <div
            class="grid md:grid-cols-10 gap-0 md:gap-6 lg:gap-12 xl:gap-24 mb-12"
          >
            <main class="order-2 md:order-1 md:col-span-6 mt-0 md:mt-12">
              <div class="flex items-center mt-12 mb-6">
                <div>
                  <div class="float-right ml-2 mb-2">
                    <TransportIcon line={line} size={40} linkToPage={false} />
                  </div>
                  <h1 class="text-2xl font-black">{title}</h1>

                  <div
                    class={`mb-6 text-2xl font-black mt-4 w-24 h-1 ${bgColor}`}
                  >
                  </div>

                  <div class="prose">
                    <slot />
                  </div>
                </div>
                <div class="ml-auto"></div>
              </div>
            </main>

            <aside
              class="order-1 md:order-2 md:col-span-4 md:pt-0 z-30 font-serif mt-8 md:-mt-24 mb-5 md:mb-0 md:p-2"
            >
              <LineLinks />
            </aside>
          </div>
        </div>
      </article>
      <section>
        <List hikes={hikes} />
      </section>
    </main>
    <Footer />
  </body>
</html>

<!-- import Head from "next/head";
import List from "@/components/hike/List";
import { FilterDefaults, Hike } from "@/lib/types";
import Layout from "@/components/layout";
import TransportIcon from "@/components/TransportIcon";
import TopBanner from "@/components/TopBanner";
import LineLinks from "./LineLinks";
import FilterBank from "../hike/FilterBank";
import { useState } from 'react';

type HikePerLineProps = {
  hikes: Hike[];
  filterDefaults?: FilterDefaults;
  banner?: string;
  line: string;
  meta?: string;
  title: string;
  borderColor: string;
  bgColor: string;
  children: JSX.Element | JSX.Element[];
};

const LinePage = ({
  hikes,
  filterDefaults,
  banner = "/images/transport/banner/ligne-j.jpeg",
  title,
  meta,
  line,
  children,
  borderColor,
  bgColor,
}: HikePerLineProps) => {
  const [filteredHikes, setFilteredHikes] = useState(hikes);

  return (
    <Layout>
      <Head>
        <title>{title} – RandoNavigo</title>
        {meta && <meta name="description" content={meta} />}
      </Head>
      <article>
        <TopBanner picture={banner} />

        <div class="container">
          <div class="grid md:grid-cols-10 gap-0 md:gap-6 lg:gap-12 xl:gap-24 mb-12">
            <main class="order-2 md:order-1 md:col-span-6 mt-0 md:mt-12">
              <div class="flex items-center mt-12 mb-6">
                <div>
                  <div class="float-right ml-2 mb-2">
                    <TransportIcon line={line} size={40} linkToPage={false} />
                  </div>
                  <h1 class="text-2xl font-black">{title}</h1>

                  <div
                    class={`mb-6 text-2xl font-black mt-4 w-24 h-1 ${bgColor}`}
                  />

                  <div class="prose">{children}</div>
                </div>
                <div class="ml-auto" />
              </div>
            </main>

            <aside class="order-1 md:order-2 md:col-span-4 md:pt-0 z-30 font-serif mt-8 md:-mt-24 mb-5 md:mb-0 md:p-2">
              <LineLinks />
            </aside>
          </div>
        </div>

        <div class="relative bg-zinc-50">
          <section class={`py-12 border-b-8 ${borderColor}`}>
            <div class="container z-20">
              {filterDefaults && (
                <FilterBank
                  allHikes={hikes}
                  setFilteredHikes={setFilteredHikes}
                  filterDefaults={filterDefaults}
                />
              )}
              <List hikes={filteredHikes} />
            </div>
          </section>
        </div>
      </article>
    </Layout>
  );
};

export default LinePage; -->
