---
import { Network } from "~/lib/transport";

export interface Props {
  network: Network;
  size?: number;
}

const { network, size = 24 } = Astro.props;
---

<div style={{ height: `${size}px` }}>
  {
    network === Network.RER && (
      <img
        src="/images/transport/RER.svg"
        width={size}
        height={size}
        alt="RER"
        style={{
          maxWidth: "100%",
          height: "auto",
        }}
      />
    )
  }
  {
    network === Network.Transilien && (
      <img
        src="/images/transport/Transilien.svg"
        width={size}
        height={size}
        alt="Transilien"
        style={{
          maxWidth: "100%",
          height: "auto",
        }}
      />
    )
  }
  {
    network === Network.Tram && (
      <img
        src="/images/transport/tram.svg"
        width={size}
        height={size}
        alt="Tram"
        style={{
          maxWidth: "100%",
          height: "auto",
        }}
      />
    )
  }
</div>
